{% extends "base.html" %}

{% block content %}

<h2><a href="{% url 'user_manage:user_index' %}">返回</a></h2>

<div class="container">
    <h3>用户收藏新闻管理</h3>
    <a href="{% url 'user_manage:user_news_create' %}">新增</a>
    <table class="table table-hover">
        <tr>
            <td>用户账号</td>
            <td>新闻标题</td>
            <td>新闻链接</td>
            <td></td>
            <td></td>
        </tr>
        {% for user_news in user_newss %}
        <tr id={{ forloop.counter }}>
            <td>{{ user_news.user_id }}</td>
            <td>{{ user_news.news_name }} </td>
            <td>{{ user_news.news_url }} </td>
            <td><a href="{% url 'user_manage:user_news_edit' user_news.id %}">编辑</a></td>
            <td><a href="{% url 'user_manage:user_news_delete' user_news.id %}">删除</a></td>
        </tr>
        {% endfor %}
    </table>
    
    
</div>




{% endblock %}