{% extends "base.html" %}

{% block content %}

<h2><a href="{% url 'user_manage:user_index' %}">返回</a></h2>

<div class="container">
    <h3>用户基本信息管理</h3>
    <a href="{% url 'user_manage:user_info_create' %}">新增</a>
    <table class="table table-hover">
        <tr>
            <td>账号</td>
            <td>密码</td>
            <td>QQ</td>
            <td>VX</td>
            <td></td>
            <td></td>
        </tr>
        {% for user_info in user_infos %}
        <tr id={{ forloop.counter }}>
            <td>{{ user_info.user_id }}</td>
            <td>{{ user_info.password }} </td>
            <td>{{ user_info.qq }} </td>
            <td>{{ user_info.vx }}</td>
            <td><a href="{% url 'user_manage:user_info_edit' user_info.user_id %}">编辑</a></td>
            <td><a href="{% url 'user_manage:user_info_delete' user_info.user_id %}">删除</a></td>
        </tr>
        {% endfor %}
    </table>
    
    
</div>




{% endblock %}