{% extends "base.html" %}

{% block content %}

<h2><a href="{% url 'user_manage:user_index' %}">返回</a></h2>

<div class="container">
    <h3>用户收藏基金管理</h3>
    <a href="{% url 'user_manage:user_fund_create' %}">新增</a>
    <table class="table table-hover">
        <tr>
            <td>用户账号</td>
            <td>基金代码</td>
            <td></td>
            <td></td>
        </tr>
        {% for user_fund in user_funds %}
        <tr id={{ forloop.counter }}>
            <td>{{ user_fund.user_id }}</td>
            <td>{{ user_fund.fund_id }} </td>
            <td><a href="{% url 'user_manage:user_fund_edit' user_fund.id %}">编辑</a></td>
            <td><a href="{% url 'user_manage:user_fund_delete' user_fund.id %}">删除</a></td>
        </tr>
        {% endfor %}
    </table>
    
    
</div>




{% endblock %}