{% extends "base.html" %}

{% block content %}

<h2><a href="{% url 'fund_manage:fund_index' %}">返回</a></h2>

<div class="container">
    <h3>基金经理管理</h3>
    <a href="{% url 'fund_manage:fund_managers_create' %}">新增</a>
    <table class="table table-hover">
        <tr>
            <td>基金经理名称</td>
            <td>学历</td>
            <td>从业年限</td>
            <td>资历排名</td>
            <td>基金代码</td>
            <td>基金名称</td>
            <td>任职天数</td>
            <td>任期回报</td>
            <td>同类平均</td>
            <td>行业排名</td>
            <td>简历</td>
            <td></td>
            <td></td>
        </tr>
        {% for fund_managers in fund_managerss %}
        <tr id={{ forloop.counter }}>
            <td>{{ fund_managers.fund_manager }}</td>
            <td>{{ fund_managers.education }}</td>
            <td>{{ fund_managers.working_seniority }}</td>
            <td>{{ fund_managers.seniority }}</td>
            <td>{{ fund_managers.fund_id }}</td>
            <td>{{ fund_managers.fund_name }}</td>
            <td>{{ fund_managers.service_days }}</td>
            <td>{{ fund_managers.term_return }}</td>
            <td>{{ fund_managers.average }}</td>
            <td>{{ fund_managers.ranking }}</td>
            <td>{{ fund_managers.resume }}</td>
            <td><a href="{% url 'fund_manage:fund_managers_edit' fund_managers.fund_manager %}">编辑</a></td>
            <td><a href="{% url 'fund_manage:fund_managers_delete' fund_managers.fund_manager %}">删除</a></td>
        </tr>
        {% endfor %}
    </table>
    
    
</div>




{% endblock %}