{% extends "base.html" %}

{% block content %}

<h2><a href="{% url 'fund_manage:fund_index' %}">返回</a></h2>

<div class="container">
    <h3>基金总表管理</h3>
    <a href="{% url 'fund_manage:fund_rough_create' %}">新增</a>
    <table class="table table-hover">
        <tr>
            <td>代码</td>
            <td>名称</td>
            <td>开放型基金(1/2/3/4)</td>
            <td>行业</td>
            <td></td>
            <td></td>
        </tr>
        {% for fund_rough in fund_roughs %}
        <tr id={{ forloop.counter }}>
            <td>{{ fund_rough.fund_id }}</td>
            <td>{{ fund_rough.fund_name }} </td>
            <td>{{ fund_rough.open_end_class }} </td>
            <td>{{ fund_rough.industry }}</td>
            <td><a href="{% url 'fund_manage:fund_rough_edit' fund_rough.fund_id %}">编辑</a></td>
            <td><a href="{% url 'fund_manage:fund_rough_delete' fund_rough.fund_id %}">删除</a></td>
        </tr>
        {% endfor %}
    </table>
    
    
</div>




{% endblock %}