{% extends "base.html" %}

{% block content %}

<h2><a href="{% url 'news_manage:news_list' %}">CBV</a></h2>


<div class="container">
    <h3>新闻管理</h3>
    <a href="{% url 'news_manage:news_create' %}">新增</a>
    <table class="table table-hover">
        <tr>
            <td>新闻标题</td>
            <td>链接</td>
            <td>来源</td>
            <td>发布日期</td>
            <td></td>
            <td></td>
        </tr>
        {% for new in news %}
        <tr id={{ forloop.counter }}>
            <td>{{ new.news_name }}</td>
            <td>{{ new.news_url }} </td>
            <td>{{ new.origin }} </td>
            <td>{{ new.date }}</td>
            <td><a href="{% url 'news_manage:news_edit' new.news_name %}">编辑</a></td>
            <td><a href="{% url 'news_manage:news_delete' new.news_name %}">删除</a></td>
        </tr>
        {% endfor %}
    </table>
    
    
</div>




{% endblock %}